body {
    background-color: #050507;
}


h1#title {
    text-align: center;
    color: #FF9900;
    font-family: "Courier New", monospace;
}

.wireworld p {
    color: white;
    text-align: center;
}

.wireworld {
    margin-left: auto;
    margin-right:auto;
    display: block;
}

#circuitboard {
    display: inline-block;
    float: left;
}

#circuitbox {
    display: inline-block;
    overflow: auto;
}

#circuitbox canvas {
    margin-left: auto;
    margin-right: auto;
    display: inherit;
}


