body {
    background-color: #050507;
}


h1#title {
    text-align: center;
    color: #FF9900;
    font-family: "Consolas", monospace;
}

.container p {
    color: white;
    text-align: center;
    font-family: "Consolas", monospace;
}

#circuitbox {
    display: inline-block;
    overflow: auto;
}

#circuitbox canvas {
    margin-left: auto;
    margin-right: auto;
    display: inherit;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*
     * Not sure how these compute, inline blocks have some margin sometimes.
     * See http://css-tricks.com/fighting-the-space-between-inline-block-elements/
     * I could consider using SASS to  create variables ant dynamically compute
     * width and height.
     */
    width: 761px;
    height: 560px;
    border: 0 solid #ccc;
}

#circuitboard {
    width: 600px;
    height: 400px;
    display: inline-block;
    border: 1px solid #ccc;
}

#circuitbox {
    display: inline-block;
    border: 1px solid #ccc;
    width: 150px;
    height: 400px;
}

#circuitbox canvas {
    margin-top: 4px;
}

#messagebox {
    display: inline-block;
    border: 1px solid #ccc;
    width: 600px;
    height: 150px;
    vertical-align: top;
}

#playpause {
    display: inline-block;
    border: 1px solid #ccc;
    width: 150px;
    height: 150px;
}
