#modalDialog {
    position: fixed;
    /*font-family: Arial, Helvetica, sans-serif;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
}

#modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #110012;
    border: 1px solid #ccc;
}

#modalDialog #buttonContainer {
    margin-top: 15px;
}

#modalDialog #buttonContainer:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

#modalDialog #button1,
#modalDialog #button2 {
    cursor: pointer;
}

#modalDialog #button1:hover,
#modalDialog #button2:hover {
    color: #EA503A;
}

#modalDialog #button1 {
    float: left;
}

#modalDialog #button1.centerButton {
    float: none;
}

#modalDialog #button2 {
    float: right;
}
